@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --body-bg: #ffffff;
  --text-color: #333333;
  --header-bg: #0d6efd;
  --header-text: #fff;
  --categoria-box-bg-start: #ffffff;
  --categoria-box-bg-end: #f7f7f7;
  --categoria-title-bg: #fff;
  --categoria-title-text: #000;
  --catalogo-bg: #fff;
  --catalogo-link-bg: #0d6efd;
  --catalogo-link-hover-bg: #0950bd;
  --border-color: #ddd;
  --footer-color: #666;
}

@media (prefers-color-scheme: dark) {
  :root {
  --body-bg: #121212;
  --text-color: #e0e0e0;
  --header-bg: #222;
    --header-text: #fff;
  --categoria-box-bg-start: #1c1c1c;
  --categoria-box-bg-end: #333;
    --categoria-title-bg: #333;
    --categoria-title-text: #fff;
    --catalogo-bg: #222;
  --catalogo-link-bg: #4b8bf5;
  --catalogo-link-hover-bg: #3468d9;
  --border-color: #555;
  --footer-color: #aaa;
  }
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: var(--body-bg);
  margin: 0;
  padding: 0;
  color: var(--text-color);
}
